@charset "UTF-8";

/* 全体 */
*{
border:0;
margin:0;
padding:0;
}
/* 全体　END */

/* ブロックレベル要素 */
body{
width:90%;
margin:5px auto 0px;
}
p{
font-size:13px;
}
ul{
list-style-type:none;
margin:20px;
}
.display-table{
clear:both;
margin:30px auto 10px;
border-collapse:collapse;
}
.copyright{
text-align:right;
color:#999;
}
.header {
overflow:hidden;
}
.header h1{
float:left;
}
.developer-link{
float:right;
font-size:medium;
}
/* ブロックレベル要素 END */

/* インライン要素 */
a{
text-decoration:none;
color:#1c79c6;
}
a:hover{
color:#da70d6;
}
a:visited{
color:#8a2be2;
}
.search_menu{
float:left;
}
.search_menu:after{
content:"/";
}
#search,#search-button{
border:1px solid black;
margin:0px 5px 0px 0px;
}
th{
padding:3px;
border:1px solid #1c79c6;
}
td {
padding:0px 5px 0px;
font-size: 12px;
}
td.page-name,td.room-name,td.room-ad{
white-space:nowrap;
}
.member-name-lv1{
color:#509;
}
.member-name-lv2{
color:#817;
}
.member-name-lv3{
color:#B25;
}
.member-name-lv4{
color:#D43;
}
.member-name-lv5{
color:#F60;
}
.display-table td{
border:1px #1C79C6 solid;
}
#wait-anime{
display:none;
}
/* インライン要素 END */
