<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>チャベリ 裏口２</title>
<style>
body {
  font-size: 5px;
}
td.room-name{
  font-size: 10px;
  white-space: nowrap;
}
td.room-ad{
  font-size: 10px;
  white-space: nowrap;
}
td.member-names{
  font-size: 10px;
}
.member-name-lv1{
  color: #509;
}
.member-name-lv2{
  color: #817;
}
.member-name-lv3{
  color: #B25;
}
.member-name-lv4{
  color: #D43;
}
.member-name-lv5{
  color: #F60;
}
.display-table {
  border-collapse: collapse;
  border: 1px #1C79C6 solid;
}
.display-table td{
  border: 1px #1C79C6 solid;
}
</style>
</head>

<body>

<table class="display-table">
[% FOR page = info.pages %]
<tr>
<td colspan="3"><a href="[% page.url | html %]">[% page.name | html %]</a></td>
</tr>
[% FOR room = page.rooms %]
<tr>
<td class="room-name">
<a href="[% room.url | html %]">[% room.name %]</a>
</td>
<td class="room-ad">
[% room.ad | html %]
</td>
<td class="member-names">
[%~ FOR member = room.members ~%]
   <span class="member-name-lv[% FUNC_LV(member) %]">[%~ member.name | html %]</span>[% IF ! loop.last %]　[% END ~%]
[%~ END ~%]
</td>
</tr>
[% END %]
[% END %]
</table>

</body>
</html>
