<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>チャベリ 裏口２</title>
<style>
body {
  font-size: 5px;
  color: red;
}
td.room-name{
  font-size: 10px;
  white-space: nowrap;
}
td.room-ad{
  font-size: 10px;
  white-space: nowrap;
}
td.member-names{
  font-size: 10px;
}
.display-table {
  border-collapse: collapse;
  border: 1px #1C79C6 solid;
}
.display-table td{
  border: 1px #1C79C6 solid;
}
</style>
</head>

<body>

<table class="display-table">
[% FOR page = info.pages %]
<tr>
<td colspan="3"><a href="[% page.url %]">LINK</a></td>
</tr>
[% FOR room = page.rooms %]
<tr>
<td class="room-name">
<a href="[% room.url %]">[% room.name %]</a>
</td>
<td class="room-ad">
[% room.ad %]
</td>
<td class="member-names">
[%~ FOR member = room.members ~%]
   <span alt="[% member.range.1 - member.range.0%] sec">[%~ member.name %]</span>[% IF ! loop.last %]　[% END ~%]
[%~ END ~%]
</td>
</tr>
[% END %]
[% END %]
</table>

</body>
</html>
