<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="./css/chaberi_backdoor.css">
<title>チャベリ 裏口</title>
<meta http-equiv="Refresh" content="240">
<meta http-equiv="Content-Script-Type" content="text/javascript; charset=UTF-8">
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/jsdeferred.jquery.110120.js"></script>
<script type="text/javascript" src="js/search.js"></script>
<!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7637699-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- chaberi backdoor -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3633073448695783"
     data-ad-slot="5734594955"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="header">
<h1>チャベリ 裏口</h1>
<p class="developer-link">by <a href="http://twitter.com/hiratara">@hiratara</a> | <a href="/">hiratara.dyndns.org</a></p>
</div>

<ul>
<li><a href="http://www.chaberi.com/">チャベリ</a>の非公式入り口です。<a href="http://www.chaberi.com/">チャベリ</a>を元に勝手に生成しています。</li>
<li>ソースの一部は<a href="http://github.com/hiratara/chaberi-backdoor/tree/master">github</a>で公開してます。</li>
<li>※ このページは、<a href="http://www.chaberi.com/">チャベリ</a>とはなんの関係もありません。</li>
<li>※ あわせて読みたい → <a href="http://chaberi.namusyaka.info/">チャベリ勝手口</a>
</ul>
<ul>
<li class="search_menu"><input name="match" type="checkbox" value=".member-names" checked="checked">人名</li>
<li class="search_menu"><input name="match" type="checkbox" value=".room-ad">呼込</li>
<li class="search_menu"><input name="match" type="checkbox" value=".room-name">部屋名</li>
<li><input id="search" name="search" type="text" value=""><input id="search-button" type="button" value="絞込"><img id="wait-anime" alt="GIF-アニメーション" src="img/wait.gif"></li>
</ul>
<table class="display-table" summary="チャベリをまとめた表です。右から一列目がメンバー、二列目がテーマ名、三列目がルーム名、四列目がそのチャットが属すパーク名です。">
<thead>
<tr>
<th>パーク</th>
<th>ルーム名</th>
<th>テーマ名</th>
<th>メンバー</th>
</tr>
</thead>
<tbody>
: for $info.pages -> $page { 
:     for $page.rooms -> $room {
<tr>
<td class="page-name">
<a href="<: $page.url :>"><: $page.name :></a>
</td>
<td class="room-name">
:         if $room.url {
  <a href="<: $room.url :>"><: $room.name :></a>
:         } else {
  <: $room.name :>
:         }
</td>
<td class="room-ad">
<: $room.ad :>
</td>
<td class="member-names">
:         for $room.members -> $member {
<span class="member-name-lv<: level($member) :>"><: $member.name :></span><: if ! $~member.is_last { '　' } :>
:         }
</td>
</tr>
:    } else {
    <tr><td class="page-name" colspan="4">
    <a href="<: $page.url :>"><: $page.name :></a>の情報は読み込めませんでした。
    </td></tr>
:    }
: }
</tbody>
</table>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- chaberi backdoor footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3633073448695783"
     data-ad-slot="4568709754"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<ul>
<li>完了時刻: <: $finished :></li>
<li>処理時間: <: $exec_time :>秒</li>
</ul>
<div><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhiratara.dyndns.org%2Fchaberi%2F&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80&amp;appId=100848266724416" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></div>
<p class="copyright">&copy; 2009- hiratara</p>
<p class="copyright">&copy; 2010- <a href="http://namusyaka.info/">namusyaka</a></p>
</body>
</html>
